* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

        .quarter {
            position: absolute;
            width: 50%;
            height: 50%;
            padding: 0;
        }


        
        .top-left {
            top: 0;
            left: 0;
            background-color: ivory;
        }

        .top-right {
            top: 0;
            left: 50%;
            background-color: tomato;
        }
        
        .bottom-left {
            top: 50%;
            left: 0;
            background-color: lemonchiffon;
        }
        
        .bottom-right {
            top: 50%;
            left: 50%;
            background-color: palegreen;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
            
        }

        @media screen and (max-width: 704px) {
            .quarter {
                width: 100%;
                height: 50%;
            }
            .top-right, .bottom-right {
                left: 0;
            }
        }

